@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*----------------------------------------*/


/*  1.  Theme default CSS
/*----------------------------------------*/

html,
body {
  height: 100%;
}

.wrapper-area {
  overflow: hidden;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 25px;
}

h1 {
  font-size: 67px;
}

h2 {
  font-size: 41px;
}

h3 {
  font-size: 30px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
  vertical-align: baseline;
}


/*---------------------------------
  2.0 Nav Styling 
  ---------------------------------*/

.navbar-right {
  margin-right: 10px;
}

.navbar-inverse .navbar-nav>li {
  margin-left: 3px;
  margin-right: 3px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  outline: medium none;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #0184BD;
  color: white;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #0184BD;
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #0184BD;
  color: white;
}


/*---------------------------------
  2.1 Scrolling Nav Styling 
  ---------------------------------*/

#scrollUp {
  background: #0184BD;
  bottom: 100px;
  color: #ffffff !important;
  display: block;
  font-size: 25px;
  height: 40px;
  line-height: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0s;
  width: 50px;
  z-index: 1000;
}

#scrollUp:hover {
  opacity: .7;
}

#scrollUp i {
  display: block;
  padding-top: 5px;
}


/*-------------------------------------
3.Slider Area Styling  
---------------------------------------*/

.slider-area {
  position: relative;
}

.slider-area .big-title {
  color: #ffffff;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.slider-area .big-title span.title-builder {
  color: #0184BD;
}

.slider-area .small-content {
  padding: 40px 240px;
  text-align: center;
}

.slider-area .button {
  color: #d1d1d1;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 60%;
  white-space: normal;
  margin-top: 15px;
}

.slider-area .button .btn-success {
  background-color: #0184BD;
  border-color: #fff;
  padding: 15px 35px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
}

.slider-area .button .btn-success:hover {
  background-color: #0184BD;
  border-color: #0184BD;
  color: #ffffff;
}

.slider-area .button2 {
  color: #d1d1d1;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 15%;
  white-space: normal;
}

.slider-area .button2 .btn-success {
  background-color: #0184BD;
  border-color: #33e179;
  padding: 15px 35px;
}

.slider-area .button2 .btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #ffffff;
}

.slider-area .down {
  text-align: center;
}

.slider-area .down li {
  display: inline-block;
}

.slider-area .down li img {
  position: inherit;
}


/*-------------------------------------
4.About Us Area Start Here 
---------------------------------------*/

.about-area {
  background: rgba(0, 0, 0, 0) url("../img/about_bg.jpg") no-repeat scroll center top / cover;
  padding: 90px 0 0;
}

.about-area .about-content h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.about-area .about-content h2 span {
  color: #0184BD;
}

.about-area .about-content p {
  color: #7c7c7c;
}


/*-------------------------------------
5.Gallery Section Area Start Here 
---------------------------------------*/

.section-tilte-area h2 {
  font-weight: bold;
  margin: 0px 0 60px;
  text-align: center;
  text-transform: uppercase;
}

.gallery-area {
  padding: 90px 0 0;
}

.gallery-area .section-tilte-area h2 {
  color: #000000;
  margin-bottom: 60px;
}

.gallery-area .portfolioFilter {
  text-align: center;
}

.gallery-area .portfolioFilter a {
  margin-right: 5px;
  color: #5b5b5b;
  text-decoration: none;
  border: 1px solid #0184BD;
  transition: all 0.5s ease 0s;
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
}

.gallery-area .portfolioFilter a.current {
  color: #ffffff;
  background: #0184BD;
}

.gallery-area .portfolioFilter a:hover {
  background: #0184BD;
  color: #ffffff;
}

.gallery-area .isotope-item {
  z-index: 2;
}

.gallery-area .isotope-hidden.isotope-item {
  z-index: 1;
}

.gallery-area .isotope,
.gallery-area .isotope .isotope-item {
  transition: all 0.5s ease 0s;
}

.gallery-area .isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.gallery-area .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.gallery-area .portfolioContainer {
  margin: 49px 0 0;
}

.gallery-area .portfolioContainer .single-item {
  width: 25%;
  position: relative;
  overflow: hidden;
}

.gallery-area .portfolioContainer .single-item .item-overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease 0s;
  display: block;
  transform: scale(0.5);
  z-index: 1;
}

.gallery-area .portfolioContainer .single-item .item-overley .item-content {
  text-align: center;
  padding: 60px 0;
  z-index: 99;
}

.gallery-area .portfolioContainer .single-item .item-overley .item-content h3 {
  margin: 0;
  color: #0184BD;
}

.gallery-area .portfolioContainer .single-item .item-overley .item-content a {
  color: #dddddd;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  display: block;
}

.gallery-area .portfolioContainer .single-item .item-overley .item-content a:hover {
  opacity: .7;
}

.gallery-area .portfolioContainer .single-item:hover .item-overley {
  opacity: 1;
  transform: scaleY(1);
}

.gallery-area .portfolioContainer .single-item:hover .item-overley .item-content ul li a i {
  display: block;
}

.gallery-area .portfolioContainer .single-item:hover .item-overley .item-content ul li a i:hover {
  color: #0184BD;
}


/*-------------------------------------
 6.Contact Section Area Start Here 
 --------------------------------------*/

.contact-us-area {
  padding: 90px 0 0;
}

.contact-us-area .section-tilte-area h2 {
  color: #000000;
}

.contact-us-area .contact-us-top #googleMap {
  margin-bottom: 65px;
}

.contact-us-area .contact-form {
  margin-bottom: 55px;
}

.contact-us-area .contact-form input {
  height: 60px;
  margin: 10px 0;
  border: 1px solid #0184BD;
  font-size: 20px;
}

.contact-us-area .contact-form textarea {
  margin: 10px 0;
  border: 1px solid #0184BD;
  font-size: 20px;
}

.contact-us-area .contact-form .btn-send {
  background: #0184BD;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 55px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  margin: 20px 0;
}

.contact-us-area .contact-form .btn-send:hover {
  opacity: .5;
}

.footer-area {
  background: url("../img/footer-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
}

.contact-us-area .footer-area .section-tilte-area h2 {
  color: #fff;
}

.footer-area .footer-left-text {
  margin-top: 35px;
}

.footer-area .footer-left-text p {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.footer-area .footer-right-social-media {
  text-align: right;
}

.footer-area .footer-right-social-media ul li {
  display: inline-block;
}

.footer-area .footer-right-social-media ul li a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.footer-area .footer-right-social-media ul li a:hover {
  color: #dddddd;
}

.footer-area .footer-right-social-media ul li a:hover i {
  color: #ffffff;
}

.footer-area .footer-right-social-media ul li a i {
  display: block;
  font-size: 25px;
  color: #0184BD;
  transition: all 0.5s ease 0s;
}

.footer-area .contact-address {
  padding: 50px 0;
}

.footer-area .contact-address .single-contact p {
  font-size: 16px;
  color: #ffffff;
}

.footer-area .contact-address .single-contact p i {
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-size: 25px;
  line-height: 50px;
  background: #0184BD;
  text-align: center;
  margin-right: 10px;
}


/*-------------------------------------
 7.Creator pages 
 --------------------------------------*/
.l-wrapper {
  max-width: 800px;
}

.creator h2 {
  text-align: center;
}

.creator .btn-primary {
  background-color: black;
}

.creator .btn-group {
  margin: 0 auto;
}

.btn-group .active {
  outline: none !important;
}

.btn-group .active {
  background-color: #0184BD;
  color: white;
}

.btn-toolbar-centered {
  text-align: center;
}

.btn-toolbar-centered .btn-group {
  float: none !important;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
  margin-right: -4px;
}

.creator .form-horizontal {
  margin-top: 40px;
}

.list {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.list>li {
  border: 1px solid black;
  padding: 5px;
}

/*-------------------------------------
 8.Contact Section Area Start Here 
 --------------------------------------*/

 .panel-account {
    border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.panel-account>.panel-heading-custom {
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

.panel-account>.panel-heading-custom h3 {
  text-decoration: none;
  color: #666;
  font-size: 20px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-account .panel-heading-custom {
  border-bottom: 1px solid #ccc;
}

.panel-heading-custom {
  padding:  0;
}

.panel-account input[type="text"],
.panel-account input[type="email"],
.panel-account input[type="password"],
.panel-account input[type="submit"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-account input:hover,
.panel-account input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #0edddd;
}

.panel-body-settings {
  padding-top: 20px;
}


.btn-save-change {
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 10px 0;
}

.btn-save-change:hover,
.btn-save-change:focus {
  color: #fff;
  background-color: #0edddd;
}

.heading-settings-account {
  margin-right: 0;
    padding: 15px;
    background: #0edddd;
}