body {
  font-family: Comic Sans MS, cursive, sans-serif;
}
.l-wrapper {
  max-width: 800px;
}
/* menu */
.navbar-right {
  margin-right: 10px;
}
.navbar-inverse .navbar-nav>li {
  margin-left: 3px;
  margin-right: 3px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    outline: medium none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #0184BD;
  color: white;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #0184BD;
  color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #0184BD;
  color: white;
}
/*creator*/
.creator h2 {
  text-align: center;
}
.creator .btn-primary {
  background-color: black;
}
.creator .btn-group {
  margin: 0 auto;
}
.btn-group .active {
   outline: none !important;
}
.btn-group .active {
  background-color: #0184BD;
  color: white;
}
.btn-toolbar-centered {
  text-align: center;
}

.btn-toolbar-centered .btn-group {
  float: none !important;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
    margin-right:-4px;
}
.creator .form-horizontal {
  margin-top: 40px;
}
/*List of exercises*/
.list {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.list>li {
  border: 1px solid black;
  padding: 5px;
}

/*Buttons*/
